Package: com.kurrtandsquiddy.powerup
Name: PowerUp
Depends: mobilesubstrate, ws.hbang.common (>= 1.11), preferenceloader, grep
Version: 1.1
Architecture: iphoneos-arm
Description: Speed up charging.
Icon: https://kurrt.com/repoassets/img/powerup.png
Depiction: https://kurrt.com/repo/PowerUp/
Homepage: https://kurrt.com/repo/PowerUp/
Maintainer: Kurrt, Squiddy
Author: Kurrt, Squiddy
Section: Tweaks
